flows.json
[
    {
        "id": "3bb7b73c.633fc8",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "58b1acfe.4a4f04",
        "type": "amqp in",
        "z": "3bb7b73c.633fc8",
        "name": "",
        "topic": "",
        "iotype": "4",
        "ioname": "hot-jobs-queue",
        "server": "858a73c2.a6403",
        "x": 146,
        "y": 61,
        "wires": [
            [
                "594068e5.4402c8"
            ]
        ]
    },
    {
        "id": "20d38a7e.c72af6",
        "type": "mongodb3 in",
        "z": "3bb7b73c.633fc8",
        "service": "_ext_",
        "configNode": "b49ba76c.19a108",
        "name": "",
        "collection": "post",
        "operation": "insertOne",
        "x": 460,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "594068e5.4402c8",
        "type": "function",
        "z": "3bb7b73c.633fc8",
        "name": "generateJsonObject",
        "func": "const nlp = global.get('nlp');\nconst getUrls = global.get('getUrls');\nconsole.log('related links: ');\nconsole.log(getUrls(msg.payload));\nconst post = {\n  \"text\": msg.payload,\n  \"createdAt\" : new Date(),\n  \"entities\": nlp(msg.payload).topics().data(),\n  \"relatedLinks\": Array.from(getUrls(msg.payload))\n};\nmsg.payload = post;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "97d82097.f4029"
            ]
        ]
    },
    {
        "id": "60131c33.a171c4",
        "type": "debug",
        "z": "3bb7b73c.633fc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "97d82097.f4029",
        "type": "switch",
        "z": "3bb7b73c.633fc8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "$count(msg.payload.relatedLinks) > 0",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "629686d5.642e78",
                "20d38a7e.c72af6"
            ]
        ]
    },
    {
        "id": "629686d5.642e78",
        "type": "Serial Iterator",
        "z": "3bb7b73c.633fc8",
        "name": "iteration over relatedLinks array",
        "property": "payload.relatedLinks",
        "inputFlow": "input",
        "saveOutput": 0,
        "recursive": 0,
        "storeId": 0,
        "x": 490,
        "y": 280,
        "wires": [
            [
                "3468d8d8.6cbff8"
            ],
            []
        ]
    },
    {
        "id": "f1adda65.0b5b58",
        "type": "http request",
        "z": "3bb7b73c.633fc8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://hst-hotjobsbackend:8080/api/v1/post/relatedLink/1/5?link=",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 430,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "3468d8d8.6cbff8",
        "type": "function",
        "z": "3bb7b73c.633fc8",
        "name": "console.log",
        "func": "console.log(msg)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "629686d5.642e78"
            ]
        ]
    },
    {
        "id": "31ba3c12.3a77a4",
        "type": "inject",
        "z": "3bb7b73c.633fc8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 460,
        "wires": [
            [
                "c1445fa3.74ffc"
            ]
        ]
    },
    {
        "id": "c1445fa3.74ffc",
        "type": "function",
        "z": "3bb7b73c.633fc8",
        "name": "array creation",
        "func": "const post = {\n  \"text\": \"post text\",\n  \"createdAt\" : new Date(),\n  \"entities\": [],\n  \"relatedLinks\": ['https://t.co/O0yw39hYef','https://t.co/JZpGTlcujQ','https://t.co/NyLMVL58zT']\n};\nmsg.payload = post;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 460,
        "wires": [
            [
                "642b52d2.0be70c",
                "e367255.eaf32d8"
            ]
        ]
    },
    {
        "id": "642b52d2.0be70c",
        "type": "Serial Iterator",
        "z": "3bb7b73c.633fc8",
        "name": "test array iteration",
        "property": "payload.relatedLinks",
        "inputFlow": "input",
        "saveOutput": 1,
        "recursive": 0,
        "storeId": 0,
        "x": 650,
        "y": 540,
        "wires": [
            [
                "616851d1.37444"
            ],
            [
                "3618edd3.4fb4d2"
            ]
        ]
    },
    {
        "id": "616851d1.37444",
        "type": "function",
        "z": "3bb7b73c.633fc8",
        "name": "log array iteration",
        "func": "var http = global.get('http');\n\nvar url = 'http://hst-hotjobsbackend:8080/api/v1/post/relatedLink/1/5?link=';\n\nhttp.get(url, function(res){\n    var body = '';\n\n    res.on('data', function(chunk){\n        body += chunk;\n    });\n\n    res.on('end', function(){\n        var fbResponse = JSON.parse(body);\n        console.log(\"Got a response: \", fbResponse.picture);\n    });\n}).on('error', function(e){\n      console.log(\"Got an error: \", e);\n});\n\nconsole.log('link array iteration result:');\nconsole.log(msg);\nif( msg.payload !== 'https://t.co/O0yw39hYef'){\n    msg.payload = '';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 460,
        "wires": [
            [
                "642b52d2.0be70c"
            ]
        ]
    },
    {
        "id": "d647d41b.c4b188",
        "type": "debug",
        "z": "3bb7b73c.633fc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 720,
        "wires": []
    },
    {
        "id": "bfc60689.3e6238",
        "type": "wait-paths",
        "z": "3bb7b73c.633fc8",
        "name": "",
        "paths": "[\"path_1\",\"path_2\"]",
        "timeout": 15000,
        "finalTimeout": 60000,
        "x": 630,
        "y": 720,
        "wires": [
            [
                "d647d41b.c4b188"
            ]
        ]
    },
    {
        "id": "e367255.eaf32d8",
        "type": "change",
        "z": "3bb7b73c.633fc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "paths[\"path_1\"]",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 720,
        "wires": [
            [
                "bfc60689.3e6238"
            ]
        ]
    },
    {
        "id": "133438a0.be58b7",
        "type": "change",
        "z": "3bb7b73c.633fc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "paths[\"path_2\"]",
                "pt": "msg",
                "to": "recordedArray",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 660,
        "wires": [
            [
                "bfc60689.3e6238"
            ]
        ]
    },
    {
        "id": "3618edd3.4fb4d2",
        "type": "function",
        "z": "3bb7b73c.633fc8",
        "name": "create iteration object result",
        "func": "const result = {\n    recordedArray: msg.payload\n};\nmsg = result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 600,
        "wires": [
            [
                "133438a0.be58b7",
                "31172c20.4b9724"
            ]
        ]
    },
    {
        "id": "31172c20.4b9724",
        "type": "debug",
        "z": "3bb7b73c.633fc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 940,
        "y": 600,
        "wires": []
    },
    {
        "id": "858a73c2.a6403",
        "type": "amqp-server",
        "z": "",
        "host": "hst-rabbit-mq",
        "port": "5672",
        "vhost": "",
        "keepalive": "30",
        "usetls": false,
        "verifyservercert": true,
        "usetopology": false,
        "topology": "{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"
    },
    {
        "id": "b49ba76c.19a108",
        "type": "mongodb3",
        "z": "",
        "uri": "mongodb://hst-mongodb:27017/post",
        "name": "Posts",
        "options": "",
        "parallelism": "-1"
    }
]